.app {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(0, 35%);
    margin-top: 100px;

    .track-vertical {
        background-color: gray;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    @media only screen and (max-width: 1280px) {
        grid-template-columns: minmax(0, 100%);
    }
}